{% extends 'royalking/base.html' %}
{% block title %}Royal King Investment - Change Password{% endblock %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                </div>
                <div class="card-body">
                    <form method="POST" action="" class="password_change">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit" name="action">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 